<div class="page page-login">
  <div class="mod mod-login unit size1of3">
    <div class="mod-header">
      <h2>Log in</h2>
    </div>
    <div class="mod-body">
      <div class="error-message">
        <h3>Login Failed</h3>
        <ul>
        <% flash.each do |name, msg|  %>
          <li>
          <%= msg %>
          </li>
        <% end  %>
        </ul>
      </div>
      <%= form_tag sessions_path do %>
          <%= label_tag :email %>
          <%= text_field_tag :email, params[:email] %>
          <%= label_tag :password %>
          <%= password_field_tag :password %>
      </div>
      <div class="mod-footer">
        <%= submit_tag "Log in" %>
        <%= link_to "Forgot password?", new_password_reset_path %>
      </div>
    <% end %>
  </div>
  </div>
</div>