<div class="page-wrapper">
  <h1 class="heading-ext-lowercase">Taskr is a task application to record daily routine tasks.</h1>
  <div class="unit size1of2">
    <div class="mod mod-skin-primary mod-ext-form">
      <div class="mod-header">
        <h2>Log in</h2>
      </div>
      <div class="mod-body">
        <!--<div class="error-message">-->
        <!--<ul>-->
        <!--
        <% flash.each do |name, msg| %>-->
          <!--<li>-->
          <!--<%= msg %>-->
          <!--</li>-->
          <!--
        <% end %>-->
        <!--</ul>-->
        <!--</div>-->
        <%= form_tag sessions_path do %>
          <div class="field">
            <div class="field-label">
              <%= label_tag :email %>
            </div>
            <div class="field-input field-input-skin-1">
              <%= text_field_tag :email, params[:email] %>
            </div>
          </div>
          <div class="field">
            <div class="field-label">
              <%= label_tag :password %>
            </div>
            <div class="field-input field-input-skin-1">
              <%= password_field_tag :password %>
            </div>
          </div>
          </div>
          <div class="form-actions">
            <div class="field"><%= submit_tag "Log in", :class => 'button button-skin-primary' %></div>

            <p><%= link_to "Forgot password?", new_password_reset_path %></p>
          </div>
        <% end %>
        </div>
  </div>
  <div class="unit size1of2">
    <div class="mod mod-skin-primary mod-ext-form">

    <div class="mod-header">
      <h2>Sign Up</h2>
    </div>

    <div class="mod-body">
      <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div class="error-message">
          <h3>Form is invalid</h3>
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <div class="field-label">
          <%= f.label :email %>
        </div>
        <div class="field-input field-input-skin-1">
          <%= f.text_field :email, {:size => "0"}%>
        </div>
      </div>
      <div class="unit size1of2">
        <div class="field">
          <div class="field-label">
            <%= f.label :first_name %>
          </div>
          <div class="field-input field-input-skin-1">
          <%= f.text_field :first_name, {:size => "0"}%>
          </div>
        </div>
      </div>
      <div class="unit size1of2">
        <div class="field">
          <div class="field-label">
          <%= f.label :last_name %>
          </div>
          <div class="field-input field-input-skin-1">
            <%= f.text_field :last_name, {:size => "0"}%>
          </div>
        </div>
      </div>
      <div class="unit size1of2">
        <div class="field">
          <div class="field-label">
          <%= f.label :password %>
          </div>
          <div class="field-input field-input-skin-1">
            <%= f.password_field :password, {:size => "0"} %>
          </div>
        </div>
      </div>
      <div class="unit size1of2">
        <div class="field">
          <div class="field-label">
            <%= f.label :password_confirmation, "Confirm Password" %>
          </div>
          <div class="field-input field-input-skin-1">
            <%= f.password_field :password_confirmation, {:size => "0"} %>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <div class="field"><%= f.submit :class => 'button button-skin-primary' %></div>
      </div>
    </div>
    <% end %>
  </div>
  </div>
</div>