<div class="page-wrapper">
<h1>Tasks</h1>
  <p>
    <%= link_to 'Create New Task', new_task_path, :class => 'button button-skin-primary'%>

  </p>
  <p><%= link_to 'Monthly Task List', :controller => 'public' %></p>

<ul>
<% @tasks.each do |task| %>
    <li>
      <%= task.task %>
      <%= link_to 'Edit', edit_task_path(task) %>
      <%= link_to 'Destroy', task, confirm: 'Are you sure?', method: :delete %>
    </li>

<% end %>

</ul>

</div>