<div class="page-wrapper">
<h1>Tasks</h1>
  <p><%= link_to 'New Task', new_task_path %></p>
  <p><%= link_to 'Back', :controller => 'public' %></p>

<ul>
<% @tasks.each do |task| %>
    <li>
      <%= task.task %>
      <%= link_to 'Edit', edit_task_path(task) %>
      <%= link_to 'Destroy', task, confirm: 'Are you sure?', method: :delete %>
    </li>

<% end %>
</ul>
</div>