<div class="page sign-up">
  <div class="mod mod-signup unit size1of3">

    <div class="mod-header">
      <h2>Sign Up</h2>
    </div>

    <div class="mod-body">
      <%= form_for @user do |f| %>
        <% if @user.errors.any? %>
          <div class="error-message">
            <h3>Form is invalid</h3>
            <ul>
              <% for message in @user.errors.full_messages %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
          <%= f.label :email %>
          <%= f.text_field :email, {:size => "0"}%>
          <%= f.label :password %>
          <%= f.password_field :password, {:size => "0"} %>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, {:size => "0"} %>
        </div>
        <div class="mod-footer">
          <%= f.submit %>
        </div>
      <% end %>
      </div>
</div>