<%= form_for @check_in do |f| %>
  <% if @check_in.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@check_in.errors.count, "error") %> prohibited this check_in from being saved:</h2>

      <ul>
      <% @check_in.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <%=  f.hidden_field :user_id, :value => current_user.id %>

  <div class="field">
    <%= f.label :done %><br />
    <%= f.check_box :done %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>

  <div class="field">
    <%= select_tag('check_in[task_ids][]',options_from_collection_for_select(@task, "id", "task")) %>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
