<!doctype html>
<html>
<head>
  <title>PS2</title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="page page-skin-ps2">
  <%= render "layouts/header" %>
  <%= yield %>
  <%= javascript_include_tag "application" %>
</body>
</html>
